body {
    font-family: Arial;
    padding-left: 5%;
    padding-right: 5%;
    color: #373a3c;
}

.head {
}

.head__sigma {
    font-size: 28px;
}

.head__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.head__menu-item {
    margin-right: 15px;
    color: #cbcbcb;
    font-size: 18px;
}

.head__link, .head__link:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

    .head__link:hover {
        color: black;
    }

.head_text {
    color: #b5b5b5;
    font-size: 14px;
}

.row__hr {
    border: none;
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    height: 2px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.theme__horizontal-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.theme_background {
    background-image: url('images/background.jpg');
    background-position: center;
    background-attachment: fixed;
}

.theme__section {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.theme_center {
    text-align: center
}

.theme__title {
    font-size: 40px;
}

.theme__text {
    font-size: 24px;
    padding-top: 20px;
    line-height: 36px;
    margin-bottom: 16px;
}

.theme__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.theme_color-555 {
    color: #555;
}

.theme__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.theme__button {
    border: none;
    width: 200px;
    height: 60px;
    font-size: 22px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.theme__button_error {
    background-color: #d9534f;
}

    .theme__button_error:hover {
        background-color: rgb(201,48,44);
    }

.theme__button_success:hover {
    background-color: rgb(68,157,68)
}

.theme__button_success,
.theme__button_error {
    color: white;
}

.theme__button_success {
    background-color: #5cb85c;
}

.theme__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.panel-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.panel-menu__item {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.panel-menu__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.panel-menu__icon {
    font-size: 48px;
    padding: 20px;
}

.panel-menu__item_background-color-E4E8E8 {
    background-color: #E4E8E8
}

.panel-menu__item_background-color-999 {
    background-color: #999
}

.panel-menu__item_background-color-666 {
    background-color: #666
}

.panel-menu__item_background-color-444 {
    background-color: #444
}

.panel-menu__item_background-color-444,
.panel-menu__item_background-color-666,
.panel-menu__item_background-color-999 {
    color: white;
}

.panel-menu__item_text-center {
    text-align: center;
}

.panel-menu__item-title {
    font-size: 24px;
    margin: 8px;
}

.panel-menu__text {
    font-size: 16px;
    line-height: 28px;
}

@media(max-width: 767px) {
    .theme__text {
        font-size: 16px;
    }

    .theme__title {
        font-size: 30px;
    }

    .panel-menu__part {
        flex-direction: column;
    }
}

@media(max-width: 660px) {
    .theme__section {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media(min-width: 1440px) {
    .theme__section {
        padding-left: 30%;
        padding-right: 30%;
    }
}

@media(max-width: 991px) {
    .panel-menu {
        flex-direction: column;
    }
}
